<div class="row">
    <img class="center-fit" alt="Real Estate" src="assets/images/skyline.jpg">
    <div class="container text-center">
      <img height="80px" alt="Dhruv Construction" src="assets/images/logo.jpg">
        <div class="banner-header col-lg-12">Real Estate Investing Information <br/> That Matters to You.</div>
        <div class="banner-sub-header col-lg-12 m-t-1-5">Limited to the San Franciso Bay Area -- Join our Beta!</div>
        <div class="m-t-1-5">
          <a href="signup" class="primary-btn">SIGN UP WITH LINKEDIN</a>
        </div>
        <div class="sign-in m-t-1-5"><small>SIGN IN</small></div>
    </div>
</div>