<div class="row">
    <img class="center-fit" alt="Real Estate" src="assets/images/skyline.jpg">
    <div class="container text-center">
    <img height="80px" alt="Dhruv Construction" src="assets/images/logo.jpg">
        <div class="banner-header col-lg-12">Thank you! <br/> We'll back to you soon.</div>
        <div class="banner-sub-header col-lg-12 m-t-1-5">Please check your email.</div>
    </div>
</div>